@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: #75B79E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 56px;
    margin: 40px 0;
    text-align: center;
}

.container .game {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game .card {
    width: 118px;
    height: 146px;
    margin-bottom: 34px;
    position: relative;
}

.card .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card .front {
    transform: rotateY(180deg);
}

.card.turned .front {
    transform: rotateY(0deg);
}

.card.turned .back {
    transform: rotateY(-180deg);
}

.game .card:hover {
    cursor: pointer;
}

.game .card img {
    width: 100px;
    height: 100px;
}

@media (max-width: 820px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .container .game {
        flex-direction: column;
        align-items: center;
    }
}
